<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1>Heding of my website </h1>
      <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas quo et aspernatur, provident quod suscipit, laudantium accusamus earum possimus repellendus quia impedit optio natus officiis! Fugiat praesentium quam rem vel!</p>
  
      <table>
            <tr>
              <th>heading 1 </th>
              <th>heading 2</th>
              <th>heading 3</th>
            </tr>
            <tr>
              <td>col1 </td>
              <td>col2 </td>
              <td>col3</td>
            </tr>
            <tr>
                  <td>col1 </td>
                  <td>col2 </td>
                  <td>col3</td>
            </tr>
          </table>

</body>
</html>